* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background: #8ad0e6;
  font-family: sans-serif;
  font-size: large;
}

/* CLASSES WITH CONSISTENT STYLING */
.btn {
  margin: 20px;
  padding: 15px;
  background: orange;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
}

.answer-btn {
  margin: 5px;
  padding: 15px;
  background: #2e9cca;
  border: none;
  border-radius: 8px;
}

.answer-btn:hover {
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background: #aaabb8;
  width: 50%;
  margin: 50px;
  padding: 50px;
  border-radius: 16px;
}

h1 {
  background: none;
  align-self: center;
  font-size: x-large;
  padding: 30px;
}

/* HEADER/NAVBAR STYLING */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #333436;
}

#mainMenu {
  margin-right: 0;
}

/* MAIN CONTENT STYLING */
/* set most wrappers to hidden to start  */
#countdown-wrapper {
  display: none;
}

#questions-wrapper {
  display: none;
}

#initials-wrapper {
  display: none;
}

#highscores-wrapper {
  display: none;
}

#start-wrapper p {
  background: none;
  padding-bottom: 30px;
}

#startGame {
  align-self: center;
}

#game-timer {
  align-self: flex-end;
  background: none;
}

#answers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background: none;
}

#initials-wrapper p {
  background: none;
}

#initials-form {
  background: none;
  align-self: center;
}

input[type="text"] {
  border: 1px solid white;
  border-radius: 4px;
  background: white;
  padding: 12px;
}

#highscores-wrapper ol {
  background: none;
  align-self: center;
}

#highscores-wrapper ol li {
  background: none;
  margin: 5px 20px;
  padding: 5px;
  font-size: larger;
}

#highscores-wrapper ol li:before {
  color: red;
}
